{% extends "base.html" %}
{% block title %} Tutor {% endblock %}

{% block content %}

    <div class="container">
        <h1 class="text-center">{{name}}</h1>

        <div style="margin-top:100px">
            {% for resource in resources %}
                <div class="card" style="margin: 20px">
                    <div class="card-body">
                        <h5 class="card-title">{{resource.title}}</h5>
                        <p class="card-text">
                            {{resource.content}}
                        </p>
                        <a href="{{resource.link}}" class="card-link">Click here</a>
                    </div>
                </div>
              {% endfor %}
        </div>
        <a class="btn btn-primary ml-3" href="{{ url_for('new_resource', id=id) }}" role="button">add new resource</a>

    </div>
 

{% endblock %}