{% extends "base.html" %}
{% block title %} Tutor {% endblock %}

{% block content %}
    
    <h2 class="display-4" style="font-weight: bold;"><strong>Tutor - Sharing Towards Excellence</strong></h2>
    <p style="font-size: 20px; margin-top: 25px">Tutor is an open-source platform for students, made by students, to make their studies more efficient, easy and enjoyable.
        Using Tutor you get helpful sources about various courses,
        like videos, summaries, links, and have all the information you need to excel in every course. 
<br>You can also share with others the materials that helped you succeed in your studies.</p>

 

{% endblock %}
